%h1 Listing frazes

= link_to 'New Fraze', new_fraze_path, class: 'btn btn-success'

%table
  %thead
    %tr
      %th Body
      %th
      %th
      %th

  %tbody
    - @frazes.each do |fraze|
      %tr
        %td= fraze.body
        %td
          .btn-group
            = link_to 'Edit', edit_fraze_path(fraze), class: 'btn btn-sm btn-default'
            = link_to 'Destroy', fraze, :method => :delete, class: 'btn btn-sm btn-danger', :data => { :confirm => 'Are you sure?' }

%br
